@model FreezeLine.Models.Produto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoLiquido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoLiquido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdUnid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdUnid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefAuxiliarProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefAuxiliarProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtUnPorUnArmz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtUnPorUnArmz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoLiquidoCalc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoLiquidoCalc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemStru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemStru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustODirTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustODirTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstMatUltmEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstMatUltmEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstMatEtapa1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstMatEtapa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstMatEtapa2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstMatEtapa2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstMatEtapa3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstMatEtapa3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstTotMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstTotMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoDirMod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoDirMod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasModUltmEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasModUltmEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasModEtapa1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasModEtapa1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasModEtapa2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasModEtapa2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
